*.o.cmd
*.d
*.cmd
*.mod.cmd
*.ko
*.a
*.mod.c
modules.order
modules.builtin
*.tmp_*
System.map
Module.symvers
*.bin
*.bin.gz
*.so
*.so.dbg
.version
*.s
*.elf
*.pem
*.x509
*.genkey
vmlinux*
modules/
generated/
config/